#tooltip{
  font-size:10px;
  background-color: hsl(220, 100%, 70%);
  line-height: 80%;
  border-radius: 10px;
  padding:5px;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  box-shadow:
    1px 1px 1px hsl(220deg 60% 50% / 0.333),
    2px 3px 2px hsl(220deg 60% 50% / 0.333),
    3px 4px 4px hsl(220deg 60% 50% / 0.333);  
}
